
/* Responsiveness for front page*/
/* For phones and tablets */
@media only screen and (max-width: 600px) {
/* .frontHead {
} */
.frontHead{
    height: 400px;
}
.design {
    height:fit-content;
}
.designPic {
    display: none;
}
.gif {
    display: none;
}
#startdialogue {
margin:12.5em;
width: 100px;
}
#startIntro {
border-bottom: 1px solid black;
font-size: 25px;
margin-right: 1em;
}
.introNav {
padding: 2em;
border: 1px solid blanchedalmond;
background-color: darkred;
box-shadow: 0 0 .5em rgba(0,0,0,3);
}
.entityHead{
border: 3px solid darkred;
background-color: blanchedalmond;
padding: 2em;
margin-top: 1em;
box-shadow: 0 0 .5em rgba(0,0,0,3);


}
.entityHead img {
width: 80px;
}
#cyborg {
    /* Hides Dialogue */
    display: none;
}
#hero{
    /* Hides dialogue */
    display: none;
}




/* Responsiveness for game page*/

/* End of media query */
}




/* Background fundamentals */
.frontBody{
/* background-image: url(background.png);
background-repeat: no-repeat;
background-size: cover; */
animation: onload 7s ;
background-color: #cdf9ff;
line-height: 1.2;
display: grid;
/* grid-auto-flow: row; */
grid-template-rows: 15em 25em 55em 20em 10em 2em;
    grid-auto-flow: column;
    grid-template-areas:
     "header header header header"
    ". sidebar gif ."
    ". design designPic ."
    ". startdialogue startIntro ."
    "footer footer footer footer";
}
@keyframes onload {
    from {
opacity: 0%;
font-size: 200%;}
    to{
    opacity: 100%;
    font-size: 100%;
    }
}

/* Navigations and buttons*/

/* Headers */

.frontHead{
grid-area: header;
border: 2px solid blanchedalmond;
font-size: 35px;
font-family:castellar;
text-align: center;
grid-column-start: 1 ;
grid-column-end: 6;
padding-bottom: 8em;
box-shadow: 0 0 2em rgba(220,20,60,0.3);



/* Animation */
background-image: url(Background/background.png);
background-size:10% auto;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: animate 60s linear infinite;
}
@keyframes animate {
    to {
    background-position:200% center;
    }
}
.frontHead i {
    font-size: 3rem;
    margin: 2rem;
}


/* Front page */
.animatedIcons{
color: darkred;
margin-top: 4em;
}


.sidebar{
grid-area: sidebar;
grid-column-start: 1;
grid-column-end: 4;
padding: 1em;
margin-top: 6em;
text-align: center;
color:darkred;
background-color:  blanchedalmond;


}
.gif {
    grid-area: gif;
    grid-column-start: 5;
    margin-top: 6em;
    padding: 1em;
    margin-left: 1em;
    background-color: blanchedalmond;
    border: 1.5px solid darkred;
    box-shadow: 0 0 1em rgb(0,0,0,0.5);
    width: 500px;
}
video{
    width: 500px;

}

/* Article section */
.design{
grid-area: design;
grid-column: span 3;
height: fit-content;
background-color: blanchedalmond;
color: darkred;
margin-top: 2em;
}
.design p{
color:black;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
.designPic{
grid-area:designPic;
grid-column-start: 4;
}

.designPic img{
    width: 200px;
    height: 150px;
    margin-top: 2em;
    margin-left: 1em;
    border: 1.5px solid darkred;
    box-shadow: 0 0 1em rgb(0,0,0,0.5);
}
.designPic img:hover{
    transform: scale(2.2);
}


/* Intro javascript */

/* Anchors */
a{
    margin-top: 1em;
    color: black
}
a:link{
    text-decoration: none;
    }

.introNav {
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
}
.introNav a:hover {
color: darkred;

}
.entityHead {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    }

#startdialogue{
    grid-area:startdialogue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:5;
    height: 3em;
    color: white;
    background-color: darkred;
    border-color:  darkred;
    transition: background-color 2s ease-out 100ms;
}

#startdialogue:hover {
    background-color:  rgb(253, 140, 137);
}

#startIntro {
    grid-area:startIntro;
    margin-top: 1em;
    grid-row-start:4;
    display: none;
}

.introContainer{
font-size: 30px;
width: 80vw;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#cyborg {
    border-right: 1px solid black;
    justify-content: space-between;
    color: black;
}

#hero {
    border-right: 1px solid black;
    justify-content: space-between;
    color: black;
}

#frontFooter {
    grid-area: footer;
    margin-top: 7em;
    padding-top: 5em;
    grid-row-start: 6 ;
    grid-column-start: 1 ;
    grid-column-end: 6;
    background-color: blanchedalmond;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }









/* Canvas page */
.gameBody {
background-color: #cdf9ff;
line-height: 1.5;
}
.canvasContainer{
    height:"500px";
    width:"1000px";
    display: flex;
    justify-content:center;
}

#canvas {
    box-shadow: 0 0 .5em rgba(0,0,0,2);
    border: 2px solid darkred;
    }

.canvasIcons{
    color: darkred;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 3rem;
    padding: 2%;
    animation: iconMove;
    animation-duration: 5s;
    animation-iteration-count: 100s;

}

@keyframes iconMove{

from{
    margin-left:100%;

}
to{
    margin-left: 0%;

}
}


.homeButton {
    height: 50px;
    width: 100px;
    padding: 1em;
    color: black;
    background: rgb(218, 101, 101);
    transition: background-color 2s ease-out 100ms;
    border-color: #cdf9ff;


}
.homeButton:hover {
    background-color: darkred;
}



/* Canvas display rules */
.hide {
    display: none;

    }
    .rules:hover + .hide {
        transform: scale(1);
        display: block;
        font-family: castellar;
        color: white;
    }

    .gameFooter{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        padding-bottom: 2em;
        padding-left: 3em;
        background-color: rgb(215, 118, 118);
        border-color:#cdf9ff;
        color:white;
        font-size: 25px;
    }
    .monk {
margin-right: 10em;
  width: 10em;
        }




/* CANVAS Game buttons */
.buttonContainer {
    display: flex;
    justify-content: center;


}


#rockChoice {
width: 100px;
height: 30px;
color: white;
    background-color: rgb(218, 101, 101);
    border-color: darkred;
    border-radius: 50%;
    box-shadow: 0 0 2em rgba(220,20,60,0.5);

}
#rockChoice:hover {
    opacity: 85%;
}

#paperChoice {
    width: 100px;
    height: 30px;
    color: white;
        background-color: rgb(233, 120, 127);
        border-color: darkred;
        border-radius: 50%;
        box-shadow: 0 0 2em rgba(220,20,60,0.5);
    }
    #paperChoice:hover {
        opacity: 80%;
    }
    #scissorChoice {
        width: 100px;
        height: 30px;
        color: white;
            background-color: rgb(253, 140, 137);
            border-color: darkred;
            border-radius: 50%;
            box-shadow: 0 0 2em rgba(220,20,60,0.5);
        }
        #scissorChoice:hover {
            opacity: 75%;
        }

#display{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(253, 140, 137);;
    /* margin-top: .2em;
    margin-bottom: .2em; */
    margin: .2em;
    font-size: 30px;
    font-family: castellar;
    color: darkred;
}
.restartButton{
    display: flex;
    justify-content: center;
    padding: 1em;
}
#restart {
    border: 2px solid darkred;
    font-size: 20px;
    font-family: castellar;
    color: darkred;
}
